<h1>Editing profile</h1>

<%= render 'form' %>
<%= link_to 'Back', user_clients_path(@user), 'data-role' => 'button', 'data-corners' => 'false' %>

<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>