@import "compass/css3/images"

* 
  border-radius: 0
  text-shadow: none
  font-family: "brandon-grotesque", Arial, sans-serif

//custom jquery theme  
.ui-body-c
  background: #feffef
.ui-bar
  border: 1px solid #e5b8b8  
.ui-header
  text-align: center
  .ui-title
    text-transform: uppercase
    letter-spacing: 4px
    font-weight: 400
    font-size: 28px
    overflow: visible
    color: #faddce
    display: inline-block
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    margin: 0
.ui-btn
  border: 1px solid #e5b8b8
  @include background(linear-gradient(top, #faddce 0%, #e5b8b8 100%))
.ui-btn-hover-c
  @include background(linear-gradient(top, #e5b8b8 0%, #faddce 100%))
